development:
  adapter: mysql
  host: localhost
  username: user
  database: database
  encoding: utf8

test:
  adapter: mysql
  host: localhost
  username: user
  database: database
  encoding: utf8

production:
  adapter: mysql
  host: localhost
  username: user
  database: database
  encoding: utf8
