<div style="font-size:36px;font-weight:bold;font-family:Palatino Linotype"><u>Welcome to 81Dojo Account Manager</u></div>
<div style="font-size:20px;margin-top:8px;">国際将棋対局サイト"81道場"のアカウント登録ページへようこそ！</div>
<br>
<br>
<div style="color:green"><%= flash[:error] %></div>
<div style="font-size:26px;font-weight:bold;font-family:Palatino Linotype"><%= link_to 'SignUp', '/signup' %></div>
<div style="font-size:15px; margin-top:5px;">(新規無料登録)</div>
<br>
<div style="font-size:24px;font-weight:bold;font-family:Palatino Linotype"><%= link_to 'View/Edit Profile', '/login' %></div>
<div style="font-size:15px; margin-top:5px;">(登録情報の確認・変更)</div>
<br>
<br>
<hr>
<iframe width=100% height="1600" frameborder=0 scrolling="no" src="http://81dojo.com/screenshots.html" allowtransparency="true">