<h1>Welcome to 81-Dojo Account Manager</h1>
<h2>将棋対局サイト、81道場へようこそ！</h2>
<br/>
<div style="color:green"><%= flash[:error] %></div>
<div style="font-size:24px">
<%= link_to 'Signup', '/signup' %> <br/>
新規登録<br/>
<br/>
Login to  <%= link_to 'Mypage', '/login' %> <br/>
登録情報の確認・変更<br/>
<br/>
Go play at  <%= link_to '81Dojo', 'http://81dojo.com/client.html' %><br/>
対局場へ
</div>
