<h1 style="font-family:Palatino Linotype"><u>Welcome to 81Dojo Account Manager</u></h1>
<h3>国際将棋対局サイト"81道場"のユーザ登録ページようこそ！</h3>
<br/>
<div style="color:green"><%= flash[:error] %></div>
<div style="font-size:26px;font-weight:bold;"><%= link_to 'SignUp', '/signup' %></div>
<div style="font-size:15px; margin-top:5px;">(新規無料登録)</div>
<br>
<div style="font-size:24px"><%= link_to 'Login to MyPage', '/login' %></div>
<div style="font-size:15px; margin-top:5px;">(登録情報の確認・変更)</div>
<br>
<div style="font-size:24px"><%= link_to 'Go Play at 81Dojo', 'http://81dojo.com/client.html' %></div>
<div style="font-size:15px; margin-top:5px;">(対局場へ)</div>