<h1>Welcome to 81SquareUniverse's online shogi.</h1>
<br/>
<div style="color:green"><%= flash[:error] %></div>
<%= link_to 'Signup', '/signup' %> <br/>
Login to  <%= link_to 'Mypage', '/login' %> <br/>
Login to  <%= link_to '81Dojo', 'http://81squareuniverse.com/test/EightyOneShogi.swf' %>
